.navbar {
    background-color: #fff !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.nav-ctr {
    margin: 0 10px;
}

.highlight {
    color: crimson;
}

.search-bar {
    background-color: #efefef;
    border: none;
    border-radius: 0;
}

.search-btn {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 0;
}

.navbar-collapse {
    justify-content: space-between;
}

.search-form {
    width: 100%;
}

.search-nav {
    min-width: 450px;
    padding-top: 2px;
    margin-left: 0;
}

.icon {
    font-size: 1.2rem;
}

.outer-nav {
    display: inline;
}

.nav-right {
    margin-right: 0;
}

@media only screen and (max-width: 768px) {
    .search-nav {
        padding-top: 1rem;
        padding-bottom: 0.5rem;
    }
}